<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/page-layout">
<th:block layout:fragment="content-title-fragment">
    <h1 class="h3 mb-0 text-gray-800">벡터 데이터 업로드</h1>
    <a href="/web/vector/list" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-arrow-left fa-sm text-white-50"></i> 이전</a>
</th:block>

<th:block layout:fragment="content-body-fragment">
    <script th:src="@{/dropzone/dist/dropzone.js}"></script>
    <link rel="stylesheet" th:href="@{/dropzone/dist/dropzone.css}">
    <form action="/web/vector/execute/uploading" class="dropzone"></form>
</th:block>
</html>