@font-face {
    font-family: 'Nanum Gothic Regular';
    src: url('/font/nanum-gothic/NanumGothic-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Nanum Gothic Bold';
    src: url('/font/nanum-gothic/NanumGothic-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Nanum Gothic Extra';
    src: url('/font/nanum-gothic/NanumGothic-ExtraBold.ttf') format('truetype');
}

b {
    font-family: 'Nanum Gothic Bold';
    font-style: normal;
    font-weight: normal;
}

strong {
    font-family: 'Nanum Gothic Extra';
    font-style: normal;
    font-weight: normal;
}

* {
    font-family : 'Nanum Gothic Regular';
    font-style: normal;
    font-weight: normal;
}