<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html-head">
    <!-- Bootstrap 4 SB Admin 2 CSS Importing -->
    <link rel="stylesheet" th:href="@{/bootstrap/css/sb-admin-2.css}">

    <!-- Font Awesome CSS Importing -->
    <link rel="stylesheet" th:href="@{/bootstrap/vendor/fontawesome-free/css/all.min.css}">

    <!-- toastr CSS Importing -->
    <link rel="stylesheet" th:href="@{/toastr-lib/built/toastr.css}">

    <!-- Common Using CSS Importing -->
    <link rel="stylesheet" th:href="@{/css/common-style.css}">

    <!-- VueJS : 비동기 요청 UI 대처 -->
    <script th:src="@{/vue/vue.js}"></script>
</head>
</html>