<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/page-layout">
<th:block layout:fragment="content-title-fragment">
    <h1 class="h3 mb-0 text-gray-800">레이어 상세 정보</h1>
    <a href="/web/layer/list" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-arrow-left fa-sm text-white-50"></i> 이전으로</a>
    <a href="/web/layer/update?id=abc" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-edit fa-sm text-white-50"></i> 데이터 수정</a>
</th:block>

<th:block layout:fragment="content-body-fragment">
    <table class="table table-sm text-center my-1">
        <tr>
            <th class="table-info">레이어 이름</th>
            <td>[레이어 이름]</td>
            <th class="table-info">활성 여부</th>
            <td>[레이어 활성 여부]</td>
        </tr>
        <tr>
            <th class="table-info">좌표 체계</th>
            <td>[EPSG:4326]</td>
            <th class="table-info">지도 데이터</th>
            <td>[링크]</td>
        </tr>
    </table>

    <link rel="stylesheet" th:href="@{/gis/openlayers-6.1.1/ol.css}">
    <script th:src="@{/gis/openlayers-6.1.1/ol.js}"></script>
    <div id="map" style="height : 65vh;"></div>
    <script>
            // 지도 타일 레이어
            var osmLayer = new ol.layer.Tile({
                source: new ol.source.OSM()
            });

            // [경도(북위이면 양수), 위도(동경이면 양수)] EPSG 는 WGS84 체계로 사용하는 경도와 위도의 상수.
            var seoul = ol.proj.transform([127.0016985, 37.5642135], 'EPSG:4326', 'EPSG:3857');

            // view 는 보여지게 될 도시와 확대 여부를 설정함.
            var view = new ol.View({
                center: seoul,
                zoom: 5
            });

            // 화면에 보여지는 Map 개체 생성.
            var map = new ol.Map({
                target: 'map'
            });

            // 지도 타일 레이어 추가.
            map.addLayer(osmLayer);

            // 보여지게 될 설정을 추가.
            map.setView(view);
    </script>
</th:block>
</html>