<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/page-layout">
<th:block layout:fragment="content-title-fragment">
    <h1 class="h3 mb-0 text-gray-800">Guest Home</h1>
</th:block>

<th:block layout:fragment="content-body-fragment">
    <p>Guest Home Context</p>

    <div id="vue-test">
        {{ message }}
    </div>

    <div id="vue-button">
        <p>{{ number }}</p>
        <button class="btn btn-primary" v-on:click="increasing">증가</button>
    </div>

    <script>
        var test1 = new Vue({
            el: '#vue-test',
            data: {
                message: 'VueJS Component'
            }
        });

        var test2 = new Vue({
            el: '#vue-button',
            data: {
                number: 0
            },
            methods: {
                increasing: function(){
                    this.number = this.number + 1;
                }
            }
        });
    </script>
</th:block>
</html>