<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/page-layout">

<th:block layout:fragment="content-title-fragment">
    <h1 class="h3 mb-0 text-gray-800">Leaflet Example</h1>
</th:block>

<th:block layout:fragment="content-body-fragment">
    <link rel="stylesheet" th:href="@{/gis/leaflet-1.6.0/leaflet.css}">
    <script th:src="@{/gis/leaflet-1.6.0/leaflet.js}"></script>
    <style>
        #map { width: 100%; height: calc(100vh - 230px); }
    </style>
    <div id="map"></div>
    <script>
        var map = L.map('map').setView([51.505, -0.09], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        L.marker([37.5642135, 127.0016985]).addTo(map)
            .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
            .openPopup();
    </script>
</th:block>

</html>