<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/page-layout">

<th:block layout:fragment="content-title-fragment">
    <h1 class="h3 mb-0 text-gray-800">Openlayers Example</h1>
</th:block>

<th:block layout:fragment="content-body-fragment">
    <link rel="stylesheet" th:href="@{/gis/openlayers-6.1.1/ol.css}">
    <script th:src="@{/gis/openlayers-6.1.1/ol.js}"></script>
    <style>
        #map { width: 100%; height: calc(100vh - 230px); }
    </style>
    <div id="map"></div>
    <script>
        // 지도 타일 레이어
        var osmLayer = new ol.layer.Tile({
            source: new ol.source.OSM()
        });

        // [경도(북위이면 양수), 위도(동경이면 양수)] EPSG 는 WGS84 체계로 사용하는 경도와 위도의 상수.
        var seoul = ol.proj.transform([127.0016985, 37.5642135], 'EPSG:4326', 'EPSG:3857');

        // view 는 보여지게 될 도시와 확대 여부를 설정함.
        var view = new ol.View({
            center: seoul,
            zoom: 5
        });

        // 화면에 보여지는 Map 개체 생성.
        var map = new ol.Map({
            target: 'map'
        });

        // 지도 타일 레이어 추가.
        map.addLayer(osmLayer);

        // 보여지게 될 설정을 추가.
        map.setView(view);
    </script>
</th:block>

</html>