<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/page-layout">
<th:block layout:fragment="content-title-fragment">
    <h1 class="h3 mb-0 text-gray-800">User Home</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Logout</a>
</th:block>

<th:block layout:fragment="content-body-fragment">
    <p>VueJS Hello World</p>
    <div id="counter">
        <p>{{ n }}</p>
        <button class="btn btn-primary" v-on:click="decrease" v-if="this.n > 0">
            <i class="fas fa-minus"></i>
        </button>
        <button class="btn btn-primary" v-on:click="increase">
            <i class="fas fa-plus"></i>
        </button>
    </div>
    <script>
        var element = new Vue({
            el: "#counter",
            data: {
                n : 0
            },
            methods: {
                increase: function(event){
                    this.n += 1;
                },
                decrease: function(event){
                    this.n -= 1;
                }
            }
        })
    </script>
</th:block>
</html>