<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/publish-layout">
<th:block layout:fragment="content-title-fragment">
    <h1 class="h2 mb-0 text-gray-800">Mapfile 데이터 업로드</h1>
    <a href="/web/publish/s02-file-list" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-arrow-left fa-sm text-white-50"></i> 이전으로</a>
</th:block>

<th:block layout:fragment="content-breadcrumb-fragment">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/web/publish/s02-file-list">지도 데이터</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">지도 데이터 업로드</li>
        </ol>
    </nav>
</th:block>

<th:block layout:fragment="content-body-fragment">
    <script th:src="@{/dropzone/dist/dropzone.js}"></script>
    <link rel="stylesheet" th:href="@{/dropzone/dist/dropzone.css}">

    <div id="dropzone">
        <p class="text-center">
            지도 업로드를 위해 아래 화면에 파일을 드래그 하세요.
        </p>
        <form action="/" class="dropzone"></form>
    </div>

    <div id="file-list" class="mt-2">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-info">
                AShape.shp / 1.23 MB (40%)
                <span class="badge badge-danger badge-pill">
                    <i class="fas fa-times"></i>
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-success">
                AShape.dbf / 0.12 MB (100%)
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-success">
                AShape.prj / 0.23 MB (100%)
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-success">
                AShape.shx / 0.34 MB (100%)
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-dark">
                BRaster.tif / 1.2 GB (10%)
                <span class="badge badge-danger badge-pill">
                    <i class="fas fa-times"></i>
                </span>
            </li>
        </ul>
    </div>
</th:block>
</html>