<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/publish-layout">
<th:block layout:fragment="content-title-fragment">
    <h1 class="h3 mb-0 text-gray-800">Mapbox 지도 도시</h1>
</th:block>

<th:block layout:fragment="content-breadcrumb-fragment">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/web/publish/s03-map-mapbox-gl">지도 도시</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Mapbox 지도 도시</li>
        </ol>
    </nav>
</th:block>

<th:block layout:fragment="content-body-fragment">
    <link rel="stylesheet" th:href="@{/gis/mapbox-1.6.1/mapbox-gl.css}">
    <script th:src="@{/gis/mapbox-1.6.1/mapbox-gl.js}"></script>
    <style>
        #map { width: 100%; height: calc(100vh - 300px); }
    </style>
    <div id="map"></div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoidGFpbHM1NTU1IiwiYSI6ImNrNWczdWl3dzAzZnYzbHFyNm95ajE5bHoifQ.uKRfcamlZq1JHEXdL1Yosg';
        var map = new mapboxgl.Map({
            container: 'map', // container id
            style: 'mapbox://styles/tails5555/ck5gaugh50fg41iqojtuyqxtt', // stylesheet location
            center: [-74.5, 40], // starting position [lng, lat]
            zoom: 9 // starting zoom
        });
    </script>
</th:block>
</html>