<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/publish-layout">
<th:block layout:fragment="content-title-fragment">
    <h1 class="h3 mb-0 text-gray-800">Openlayers 가시화</h1>
</th:block>

<th:block layout:fragment="content-breadcrumb-fragment">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/web/publish/s07-virtualize-ol-ext">지도 가시화</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Openlayers 가시화</li>
        </ol>
    </nav>
</th:block>

<th:block layout:fragment="content-body-fragment">
    <link rel="stylesheet" th:href="@{/gis/openlayers-6.1.1/ol.css}">
    <script th:src="@{/gis/openlayers-6.1.1/ol.js}"></script>

    <link rel="stylesheet" th:href="@{/gis/ol-ext-3.1.9/ol-ext.min.css}">
    <script th:src="@{/gis/ol-ext-3.1.9/ol-ext.min.js}"></script>

    <script th:src="@{/jquery/jquery-3.4.1.min.js}"></script>

    <div id="map" style="height : 70vh;"></div>
    <script type="text/javascript">
        // Layers
        var layers = [ new ol.layer.Tile({
            source: new ol.source.OSM()
        })];

        // [경도(북위이면 양수), 위도(동경이면 양수)] EPSG 는 WGS84 체계로 사용하는 경도와 위도의 상수.
        var seoul = ol.proj.transform([127.0016985, 37.5642135], 'EPSG:4326', 'EPSG:3857');

        // The map
        var map=new ol.Map({
            target: 'map',
            view: new ol.View({
                center: seoul,
                zoom: 10
            }),
            layers: layers
        });

        // Addfeatures to the cluster
        function addFeatures(nb){
            var ext = map.getView().calculateExtent(map.getSize());
            var features=[];
            for (var i=0; i<nb; ++i){
                features[i]=new ol.Feature(new ol.geom.Point([ext[0]+(ext[2]-ext[0])*Math.random(), ext[1]+(ext[3]-ext[1])*Math.random()]));
                features[i].set('id',i);
            }
            clusterSource.getSource().clear();
            clusterSource.getSource().addFeatures(features);
        }

        // Style for the clusters
        var styleCache = {};
        function getStyle (feature, resolution){
            var size = feature.get('features').length;
            var style = styleCache[size];
            if (!style) {
                var color = size>25 ? "192,0,0" : size>8 ? "255,128,0" : "0,128,0";
                var radius = Math.max(8, Math.min(size*0.75, 20));
                var dash = 2*Math.PI*radius/6;
                var dash = [ 0, dash, dash, dash, dash, dash, dash ];
                style = styleCache[size] = new ol.style.Style({
                    image: new ol.style.Circle({
                        radius: radius,
                        stroke: new ol.style.Stroke({
                            color: "rgba("+color+",0.5)",
                            width: 15 ,
                            lineDash: dash,
                            lineCap: "butt"
                        }),
                        fill: new ol.style.Fill({
                            color:"rgba("+color+",1)"
                        })
                    }),
                    text: new ol.style.Text({
                        text: size.toString(),
                        //font: 'bold 12px comic sans ms',
                        //textBaseline: 'top',
                        fill: new ol.style.Fill({
                            color: '#fff'
                        })
                    })
                });
            }
            return style;
        }

        // Cluster Source
        var clusterSource=new ol.source.Cluster({
            distance: 40,
            source: new ol.source.Vector()
        });
        // Animated cluster layer
        var clusterLayer = new ol.layer.AnimatedCluster({
            name: 'Cluster',
            source: clusterSource,
            animationDuration: $("#animatecluster").prop('checked') ? 700:0,
            // Cluster style
            style: getStyle
        });
        map.addLayer(clusterLayer);
        // add 2000 features
        addFeatures(20000);

        // Style for selection
        var img = new ol.style.Circle({
            radius: 5,
            stroke: new ol.style.Stroke({
                color:"rgba(0,255,255,1)",
                width:1
            }),
            fill: new ol.style.Fill({
                color:"rgba(0,255,255,0.3)"
            })
        });
        var style0 = new ol.style.Style({
            image: img
        });
        var style1 = new ol.style.Style({
            image: img,
            // Draw a link beetween points (or not)
            stroke: new ol.style.Stroke({
                color:"#fff",
                width:1
            })
        });
        // Select interaction to spread cluster out and select features
        var selectCluster = new ol.interaction.SelectCluster({
            // Point radius: to calculate distance between the features
            pointRadius:7,
            animate: $("#animatesel").prop('checked'),
            // Feature style when it springs apart
            featureStyle: function(){
                return [ $("#haslink").prop('checked') ? style1:style0 ]
            },
            // selectCluster: false,	// disable cluster selection
            // Style to draw cluster when selected
            style: function(f,res){
                var cluster = f.get('features');
                if (cluster.length>1){
                    var s = [ getStyle(f,res) ];
                    if ($("#convexhull").prop("checked") && ol.coordinate.convexHull){
                        var coords = [];
                        for (i=0; i<cluster.length; i++) coords.push(cluster[i].getGeometry().getFirstCoordinate());
                        var chull = ol.coordinate.convexHull(coords);
                        s.push ( new ol.style.Style({
                            stroke: new ol.style.Stroke({ color: "rgba(0,0,192,0.5)", width:2 }),
                            fill: new ol.style.Fill({ color: "rgba(0,0,192,0.3)" }),
                            geometry: new ol.geom.Polygon([chull]),
                            zIndex: 1
                        }));
                    }
                    return s;
                } else {
                    return [
                        new ol.style.Style({
                            image: new ol.style.Circle ({
                                stroke: new ol.style.Stroke({ color: "rgba(0,0,192,0.5)", width:2 }),
                                fill: new ol.style.Fill({ color: "rgba(0,0,192,0.3)" }),
                                radius:5
                            })
                        })];
                }
            }
        });
        map.addInteraction(selectCluster);

        // On selected => get feature in cluster and show info
        selectCluster.getFeatures().on(['add'], function (e){
            var c = e.element.get('features');
            if (c.length==1){
                var feature = c[0];
                $(".infos").html("One feature selected...<br/>(id="+feature.get('id')+")");
            } else {
                $(".infos").text("Cluster ("+c.length+" features)");
            }
        })
        selectCluster.getFeatures().on(['remove'], function (e){
            $(".infos").html("");
        })

    </script>
</th:block>
</html>